@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        overflow-x: hidden;
        background-color: #FDFEFE;
    }

    .link-hovered {
        display: inline-block;
        position: relative;
    }
    
    
    .link-hovered::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #787A91;
        border-radius: 2px;
        scale: 0;
        transform-origin: center;
        transition: scale 0.25s;
    }
    
    .link-hovered:hover::before {
        scale: 1;
    }
    
    .wave {
        clip-path: polygon(100% 0%, 0% 0% , 0.00% 70.87%, 1.00% 69.66%, 2.00% 68.04%, 3.00% 66.06%, 4.00% 63.77%, 5.00% 61.22%, 6.00% 58.48%, 7.00% 55.61%, 8.00% 52.68%, 9.00% 49.77%, 10.00% 46.95%, 11.00% 44.28%, 12.00% 41.84%, 13.00% 39.68%, 14.00% 37.86%, 15.00% 36.42%, 16.00% 35.39%, 17.00% 34.81%, 18.00% 34.68%, 19.00% 35.01%, 20.00% 35.79%, 21.00% 37.01%, 22.00% 38.62%, 23.00% 40.60%, 24.00% 42.90%, 25.00% 45.44%, 26.00% 48.19%, 27.00% 51.06%, 28.00% 53.98%, 29.00% 56.90%, 30.00% 59.72%, 31.00% 62.38%, 32.00% 64.83%, 33.00% 66.99%, 34.00% 68.81%, 35.00% 70.25%, 36.00% 71.28%, 37.00% 71.86%, 38.00% 71.99%, 39.00% 71.66%, 40.00% 70.87%, 41.00% 69.66%, 42.00% 68.04%, 43.00% 66.06%, 44.00% 63.77%, 45.00% 61.22%, 46.00% 58.48%, 47.00% 55.61%, 48.00% 52.68%, 49.00% 49.77%, 50.00% 46.95%, 51.00% 44.28%, 52.00% 41.84%, 53.00% 39.68%, 54.00% 37.86%, 55.00% 36.42%, 56.00% 35.39%, 57.00% 34.81%, 58.00% 34.68%, 59.00% 35.01%, 60.00% 35.79%, 61.00% 37.01%, 62.00% 38.62%, 63.00% 40.60%, 64.00% 42.90%, 65.00% 45.44%, 66.00% 48.19%, 67.00% 51.06%, 68.00% 53.98%, 69.00% 56.90%, 70.00% 59.72%, 71.00% 62.38%, 72.00% 64.83%, 73.00% 66.99%, 74.00% 68.81%, 75.00% 70.25%, 76.00% 71.28%, 77.00% 71.86%, 78.00% 71.99%, 79.00% 71.66%, 80.00% 70.87%, 81.00% 69.66%, 82.00% 68.04%, 83.00% 66.06%, 84.00% 63.77%, 85.00% 61.22%, 86.00% 58.48%, 87.00% 55.61%, 88.00% 52.68%, 89.00% 49.77%, 90.00% 46.95%, 91.00% 44.28%, 92.00% 41.84%, 93.00% 39.68%, 94.00% 37.86%, 95.00% 36.42%, 96.00% 35.39%, 97.00% 34.81%, 98.00% 34.68%, 99.00% 35.01%, 100.00% 35.79%);
    }
}