@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        overflow-x: hidden;
        background-color: #FDFEFE;
    }

    .link-hovered {
        display: inline-block;
        position: relative;
    }
    
    
    .link-hovered::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #787A91;
        border-radius: 2px;
        scale: 0;
        transform-origin: center;
        transition: scale 0.25s;
    }
    
    .link-hovered:hover::before {
        scale: 1;
    }
}